<div id="index">
{{> nav}}

<h1>Create Session</h1>

<form action="/sessions/create" method="post">
    
    <input id="sessionName" type="text" name="sessionName" maxlength="20"/>
    <input type="submit" id="submit" name="createSession" value="Create"/>
    
</form>

</div>