<div id="createSession">

{{> nav}}

<h1>Create a New Meeting</h1>


<form action="/sessions/create" method="post">

    <input id="sessionName" type="text" name="sessionName" placeholder="Meeting Name" maxlength="20"/>
    <input type="submit" id="submit" name="createSession" value="Create"/>

</form>

</div>
