<div id="createAccount">

<form action="/users" method="post">

    <ul>

        <li>
            <input type="text" name="email" placeholder="email" maxlength="20"/>
            <br/>
        </li>

        <li>
            <input type="password" name="password" placeholder="password" maxlength="20"/>
            <br/>
        </li>

    </ul>

        <input id="submit" type="submit" name="createaccount" value="Create Account" />

        <!-- The customer is redirected to the Sign Up page from where they can register to create a client user account. -->


</form>

</div>
