<div id="index">
{{> nav}}

<h1>Join Session</h1>

<form action="/sessions/join" method="post">
    
    <input id="code" type="text" name="code" maxlength="4"/>
    <input type="submit" id="submit" name="joinSession" value="Join"/>
    
</form>

</div>