<h2>Please Only pass in valid JSON of the conversation!</h2>

<form enctype="multipart/form-data" action="javascript:convertJSON()">
    <input type="file" id="jsonData" multiple>
    <input type="submit" value="Upload JSON">
</form>

<p id="test"></p>

<script>
	function convertJSON() {
		var contentArr = [];
		var files = document.getElementById('jsonData').files;

		for(var i=0; i<files.length ;i++) {
			var file = files[i];
			var reader = new FileReader();
			reader.onload = function(event) {
				contentArr.push(event.target.result);
				console.log(event.target.result);
				console.log(contentArr);
				// contentArr.push = event.target.result;
			};
			reader.readAsText(file);
		}

		$.ajax({
			url: "localhost:3000/analysis/wordspace",
			type: "POST",
			data: {"file" : contentArr},
			processData: false,
			success: function (res) {
				alert(res);
			}
		});

	};

</script>


<script>

function getDataContent() {
	//var jsonData = document.getElementById("jsonData").files[0];
	alert('before ajax request');
	var reader = new FileReader();

	document.getElementById("test").innerHTML = reader.readAsDataURL(jsonData);

	// $.ajax({
	// 	url: "localhost:4000/analysis/jsonupload",
	// 	method: "POST",
	// 	data: JSON.stringify(jsonData),
	// 	contentType: "application/json",
	// 	complete: callback
	// });

	// function callback() {
	// 	alert('we did it');
	// };
	console.log(jsonData);
	// console.log(JSON.stringify(data.files[0]));
};
// var data = document.getElementById("jsonData");
// var json = data.files;

// var callback = function() {
// 	alert('done');
// }

// $.ajax({
// 	url: "localhost:4000/analysis/jsonupload",
// 	type: "POST",
// 	data: JSON.stringify(json),
// 	contentType: "application/json",
// 	complete: callback
// })
</script>



