<h2>Please Only pass in valid JSON of the conversation!</h2>
<form action="/analysis/jsonupload" enctype="multipart/form-data" method="POST">
    <input type="file" name="multiInputFileName" multiple>
    <input type="submit" value="Upload photo">
</form>