<!DOCTYPE html>
<html>
  <head>
    <title>Recyc</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <script src="/javascripts/jquery-3.0.0.min.js"></script>

  </body>
</html>
