<div id="upload">

  <h1>Upload Your Images</h1>
    <form enctype="multipart/form-data"  action="upload(audio)">
      <input type="file" name="audio" id="audio" multiple />
      <button type="submit" id="btn" >Upload Files!</button>
    </form>

    <script src="../javascripts/upload.js"></script>


</div>
