<div id="upload">

  <h1>Upload Your JSON</h1>

  <script src="../javascripts/upload.js"></script>

    <form enctype="multipart/form-data" method="post" action="/analysis/wordspace">
      <input type="file" name="json" id="json" multiple/>
      <button type="submit" id="btn" >Upload Files</button>
    </form>

</div>
