<div id="upload">

  <h1>Upload Your Images</h1>

  <script src="../javascripts/upload.js"></script>

    <form enctype="multipart/form-data" action="javascript:upload(audio)">
      <input type="file" name="audio" id="audio" multiple />
      <button type="submit" id="btn" >Upload Files!</button>
    </form>



</div>
